@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: Arial, sans-serif; */
  font-family: "Poppins", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #f0f4f8;
  margin: 2rem 0;
}

.container {
  width: 90%;
  height: 90%;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  color: #1d4ed8;
  -webkit-text-stroke: #000 .5px;
  padding: 0 -20px;
  margin-bottom: 20px;
  font-size: 1.9rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

label {
  color: #000;
  font-weight: bold;
}

input, select, button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

button {
  background-color: #1d4ed8;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1e3a8a;
}

#result {
  margin-top: 20px;
  word-wrap: break-word;
  color: #1d4ed8;
}
